{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}

<style>
* {
    margin: 0;
    padding: 0
}

body {
    background-color: #fff ;
    color: black ;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s
}

{# .card:hover .image img {
    transform: scale(1.5)
} #}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}
.btn-secondary {
    background-color: white ; 
}
.date {
    background-color: #ccc
}
    hr.solid {
        border-top: 3px solid #bbb;
    }

    a {
        color : white ; 
    }

</style>
        <header class="banner1">
                <nav class="menu">
                    <div class="logo1">
                           <h2 href="http://127.0.0.1:8000/home"> Book Store </h2>                 
                    </div>
                    <div class="menu-area1">
                        <ul>
                            <a href="http://127.0.0.1:8000/home"><li>Home</li></a>
                            <a href="http://127.0.0.1:8000/auteur"><li>Auteurs</li></a>
                            <a href="http://127.0.0.1:8000/livre"><li>Livres</li></a>
                            <a href="http://127.0.0.1:8000/genre"><li>Genres</li></a>
                            <a href="http://127.0.0.1:8000"><li>Sign In</li></a>
                            <a href="http://127.0.0.1:8000/register"><li>Sign Up</li></a>
                        </ul>
                    </div>
                </nav>
    </header>

    <hr class="solid">

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom_prenom</th>
                <td>{{ auteur.nomPrenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ auteur.dateNaissance ? auteur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ auteur.nationalite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('auteur_index') }}">back to list</a>

    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}">edit</a>

    {{ include('auteur/_delete_form.html.twig') }} #}


        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class="image d-flex flex-column justify-content-center align-items-center">
            <button class="btn-secondary"> 
                <img src="/img/writer.png" height="100" width="100" />
            </button> <span class="name mt-3">{{auteur.nomPrenom}}</span> 
        <span class="idd">{{auteur.sexe}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">{{ auteur.nationalite }}</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class=" d-flex mt-2"> <button class="btn1 btn-dark"> <a href="{{ path('auteur_index') }}">back to list</a>  </button> </div>
            <div class="text mt-3"> {{auteur.nomPrenom}} is the creator or originator of any written work such as a book or play, and is also considered a writer or poet. <span><br><br> More broadly defined, an author is "the person who originated or gave existence to anything" and whose authorship determines responsibility for what was created</span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">{{ auteur.dateNaissance ? auteur.dateNaissance|date('Y-m-d') : '' }}</span> </div>
        </div>
    </div>
</div>
{% endblock %}
